<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="net.sourceforge.taggerplugin.Nature"
         name="%tagger.nature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="net.sourceforge.taggerplugin.nature.TaggableProjectNature"/>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.sourceforge.taggerplugin.ProjectContext"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="net.sourceforge.taggerplugin.ProjectContextMenu"
               label="%tagger.contextmenu.label"
               path="additions">
            <separator name="additions"/>
            <groupMarker name="tags"/>
         </menu>
         <action
               class="net.sourceforge.taggerplugin.action.ToggleTaggableNatureAction"
               icon="icons/tag_green.png"
               id="net.sourceforge.taggerplugin.action.ToggleNature"
               label="%tagger.action.togglenature.label"
               menubarPath="net.sourceforge.taggerplugin.ProjectContextMenu/tags"
               tooltip="%tagger.action.togglenature.tooltip">
            <enablement>
               <objectState
                     name="open"
                     value="true"/>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="net.sourceforge.taggerplugin.FileContext"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="net.sourceforge.taggerplugin.FileContextMenu"
               label="%tagger.contextmenu.label"
               path="additions">
            <separator name="additions"/>
            <groupMarker name="tags"/>
         </menu>
         <action
               class="net.sourceforge.taggerplugin.action.ClearTagAssociationsAction"
               icon="icons/trash.gif"
               id="net.sourceforge.taggerplugin.action.ClearAssociations"
               label="%tagger.action.clearassociations.label"
               menubarPath="net.sourceforge.taggerplugin.FileContextMenu/tags"
               tooltip="%tagger.action.clearassociations.tooltip"/>
         <action
               class="net.sourceforge.taggerplugin.action.RemoveTagAssociationAction"
               icon="icons/cross.png"
               id="net.sourceforge.taggerplugin.action.RemoveAssociation"
               label="%tagger.action.removeassoc.label"
               menubarPath="net.sourceforge.taggerplugin.FileContextMenu/tags"
               tooltip="%tagger.action.removeassoc.tooltip"/>
         <action
               class="net.sourceforge.taggerplugin.action.AddTagAssociationAction"
               icon="icons/plus.gif"
               id="net.sourceforge.taggerplugin.action.AddAssociation"
               label="%tagger.action.addassociation.label"
               menubarPath="net.sourceforge.taggerplugin.FileContextMenu/tags"
               tooltip="%tagger.action.addassociation.tooltip"/>
         <action
               class="net.sourceforge.taggerplugin.action.CreateAndAddTagAssociationAction"
               icon="icons/tag_blue_add.png"
               id="net.sourceforge.taggerplugin.action.CreateAndAdd"
               label="%tagger.action.createandaddaction.label"
               menubarPath="net.sourceforge.taggerplugin.FileContextMenu/tags"
               tooltip="%tagger.action.createandaddaction.tooltip"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="net.sourceforge.taggerplugin.ui.TaggableResourcePropertyPage"
            icon="icons/tag_blue.png"
            id="net.sourceforge.taggerplugin.TaggedResourceProperties"
            name="%tagger.properties.name"
            objectClass="org.eclipse.core.resources.IFile"/>
   </extension>   
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="net.sourceforge.taggerplugin.ui.TaggableProjectLabelDecorator"
            id="net.sourceforge.taggerplugin.decorator.TaggableProject"
            label="%tagger.decorator.project.label"
            lightweight="true"
            location="TOP_RIGHT"
            objectClass="org.eclipse.core.resources.IProject"
            state="true"/>
      <decorator
            adaptable="true"
            class="net.sourceforge.taggerplugin.ui.TaggedResourceLabelDecorator"
            id="net.sourceforge.taggerplugin.decorator.TaggedResource"
            label="%tagger.decorator.taggable.label"
            lightweight="true"
            location="TOP_RIGHT"
            objectClass="org.eclipse.core.resources.IFile"
            state="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.sourceforge.taggerplugin.Category"
            name="%tagger.category.name"/>
      <view
            allowMultiple="false"
            category="net.sourceforge.taggerplugin.Category"
            class="net.sourceforge.taggerplugin.view.TagSetView"
            icon="icons/tag_blue.png"
            id="net.sourceforge.taggerplugin.view.TagSet"
            name="%tagger.view.tagset.name">
         <description>
            Displays resource tags (and their associated resources) grouped by project.
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="net.sourceforge.taggerplugin.viewcontribution.TagSetActions"
            targetID="net.sourceforge.taggerplugin.view.TagSet">
         <action
               class="net.sourceforge.taggerplugin.action.DeleteTagAction"
               icon="icons/tag_blue_delete.png"
               id="net.sourceforge.taggerplugin.action.DeleteTag"
               label="%tagger.action.deletetag.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%tagger.action.deletetag.tooltip"/>
         <action
               class="net.sourceforge.taggerplugin.action.EditTagAction"
               icon="icons/tag_blue_edit.png"
               id="net.sourceforge.taggerplugin.action.EditTag"
               label="%tagger.action.edittag.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%tagger.action.edittag.tooltip">
         </action>
         <action
               class="net.sourceforge.taggerplugin.action.AddTagAction"
               icon="icons/tag_blue_add.png"
               id="net.sourceforge.taggerplugin.action.AddTag"
               label="%tagger.action.addtag.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%tagger.action.addtag.tooltip">
            <selection class="org.eclipse.core.resources.IProject"/>
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IWorkspace"
            class="net.sourceforge.taggerplugin.model.TagSetContainerAdapterFactory">
         <adapter type="net.sourceforge.taggerplugin.model.ITagSetContainer"/>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IProject"
            class="net.sourceforge.taggerplugin.model.TagSetContainerAdapterFactory">
         <adapter type="net.sourceforge.taggerplugin.model.ITagSetContainer"/>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="net.sourceforge.taggerplugin.model.TaggableResourceAdapterFactory">
         <adapter type="net.sourceforge.taggerplugin.model.ITaggableResource"/>
      </factory>
   </extension>
   
      <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.sourceforge.taggerplugin.preference.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.taggerplugin.preference.TaggerPreferencePage"
            id="net.sourceforge.taggerplugin.preferences.TaggerPreferencePage"
            name="%tagger.preferences.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="net.sourceforge.taggerplugin.category.ResourceTags"
            name="%tagger.category.name"/>
      <wizard
            category="net.sourceforge.taggerplugin.category.ResourceTags"
            class="net.sourceforge.taggerplugin.wizard.TagSetExportWizard"
            icon="icons/tag_blue.png"
            id="net.sourceforge.taggerplugin.wizard.TagSetExport"
            name="%tagger.wizard.tagsetexport.label"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="net.sourceforge.taggerplugin.category.ResourceTags"
            name="%tagger.category.name"/>
      <wizard
            category="net.sourceforge.taggerplugin.category.ResourceTags"
            class="net.sourceforge.taggerplugin.wizard.TagSetImportWizard"
            icon="icons/tag_blue.png"
            id="net.sourceforge.taggerplugin.wizard.TagSetImport"
            name="%tagger.wizard.tagsetimport.label"/>
   </extension>

</plugin>
