<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.sourceforge.taggerplugin.Category"
            name="Resource Tagging"/>
      <view
            allowMultiple="false"
            category="net.sourceforge.taggerplugin.Category"
            class="net.sourceforge.taggerplugin.view.TagView"
            icon="icons/tagger_logo_20x20.gif"
            id="net.sourceforge.taggerplugin.TagView"
            name="Tags"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="net.sourceforge.taggerplugin.TagViewActions"
            targetID="net.sourceforge.taggerplugin.TagView">
         <action
               class="net.sourceforge.taggerplugin.action.DeleteTagAction"
               helpContextId="net.sourceforge.taggerplugin.help.DeleteTagAction"
               icon="icons/delete.gif"
               id="net.sourceforge.taggerplugin.action.DeleteTagAction"
               label="Delete Tag"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="Delete tag from tag set.">
         </action>
         <action
               class="net.sourceforge.taggerplugin.action.NewTagAction"
               icon="icons/plus.gif"
               id="net.sourceforge.taggerplugin.action.NewTagAction"
               label="New Tag"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="Create a new tag."/>
         <action
               class="net.sourceforge.taggerplugin.action.ModifyTagAction"
               icon="icons/modify.gif"
               id="net.sourceforge.taggerplugin.action.ModifyTagAction"
               label="Modify Tag"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="Modify the selected tag.">
         </action>
         <action
               class="net.sourceforge.taggerplugin.action.CreateWorkingSetFromTagsAction"
               icon="icons/workset.gif"
               id="net.sourceforge.taggerplugin.action.CreateWorkingSet"
               label="Create Working Set"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="Create a working set from the selected tags."/>
      </viewContribution>
      <viewContribution
            id="net.sourceforge.taggerplugin.NavigatorViewActions"
            targetID="org.eclipse.ui.views.ResourceNavigator">
         <action
               class="net.sourceforge.taggerplugin.action.FilterUsingTagsAction"
               icon="icons/tagger_filter.gif"
               id="net.sourceforge.taggerplugin.action.FilterUsingTagsAction_Navigator"
               label="Filter by Tags..."
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="Filter the view by tag associations."/>
      </viewContribution>
      <viewContribution
            id="net.sourceforge.taggerplugin.ExplorerViewActions"
            targetID="org.eclipse.ui.navigator.ProjectExplorer">
         <action
               class="net.sourceforge.taggerplugin.action.FilterUsingTagsAction"
               icon="icons/tagger_filter.gif"
               id="net.sourceforge.taggerplugin.action.FilterUsingTagsAction_Explorer"
               label="Filter by Tags..."
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="Filter the view by tag associations."/>
      </viewContribution>
      <viewContribution
            id="net.sourceforge.taggerplugin.SearchViewActions"
            targetID="org.eclipse.search.ui.views.SearchView">
         <action
               class="net.sourceforge.taggerplugin.action.CreateWorkingSetFromResultsAction"
               icon="icons/workset.gif"
               id="net.sourceforge.taggerplugin.action.CreateWorkingSet_Results"
               label="Create Working Set..."
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="Create working set from selected search resutls."/>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="net.sourceforge.taggerplugin.resource.TaggableAdapterFactory">
         <adapter type="net.sourceforge.taggerplugin.resource.ITaggable"/>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IMarker"
            class="net.sourceforge.taggerplugin.resource.TaggedMarkerAdapterFactory">
         <adapter type="net.sourceforge.taggerplugin.resource.ITaggedMarker"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="net.sourceforge.taggerplugin.ContextMenuPopup"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="net.sourceforge.taggerplugin.ContextMenu"
               label="Tags"
               path="additions">
            <separator name="additions"/>
            <groupMarker name="tags"/>
         </menu>
         <action
               class="net.sourceforge.taggerplugin.action.AddTagAssociationAction"
               enablesFor="+"
               helpContextId="net.sourceforge.taggerplugin.help.AddTagAssociation"
               icon="icons/plus.gif"
               id="net.sourceforge.taggerplugin.action.AddTagAssociation"
               label="Add Tag Association(s)"
               menubarPath="net.sourceforge.taggerplugin.ContextMenu/tags"
               tooltip="Add tag association(s) to selected resources."/>
         <action
               class="net.sourceforge.taggerplugin.action.ClearTagAssociationsAction"
               enablesFor="+"
               icon="icons/trash.gif"
               id="net.sourceforge.taggerplugin.action.ClearTagAssociations"
               label="Clear Tag Associations"
               menubarPath="net.sourceforge.taggerplugin.ContextMenu/tags"
               tooltip="Clear tag association(s)."/>
         <action
               class="net.sourceforge.taggerplugin.action.RemoveTagAssociationAction"
               enablesFor="+"
               icon="icons/delete.gif"
               id="net.sourceforge.taggerplugin.action.RemoveTagAssociation"
               label="Remove Tag Association(s)"
               menubarPath="net.sourceforge.taggerplugin.ContextMenu/tags"
               tooltip="Remove tag association(s) from selected resources."/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="net.sourceforge.taggerplugin.ui.TaggedLabelDecorator"
            id="net.sourceforge.taggerplugin.TaggedDecorator"
            label="Tagged"
            lightweight="true"
            location="TOP_RIGHT"
            objectClass="org.eclipse.core.resources.IResource"
            state="true"/>
   </extension>
   <extension
         id="com.sourceforge.taggerplugin.tagged"
         name="Tagged Resource Marker"
         point="org.eclipse.core.resources.markers">
      <persistent value="true"/>
      <super type="org.eclipse.core.resources.marker"/>
      <attribute name="resourceId"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="net.sourceforge.taggerplugin.ui.TaggableResourcePropertyPage"
            icon="icons/tagger_logo_20x20.gif"
            id="net.sourceforge.taggerplugin.TaggedResourceProperties"
            name="Tagger Plug-in"
            objectClass="org.eclipse.core.resources.IResource"/>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="net.sourceforge.taggerplugin.search.TagSearchPage"
            enabled="true"
            extensions="*"
            icon="icons/tagger_logo_20x20.gif"
            id="net.sourceforge.taggerplugin.TagSearchPage"
            label="Tag Search"
            showScopeSection="true"
            tabPosition="2"/>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="net.sourceforge.taggerplugin.search.TagSearchResultPage"
            icon="icons/tagger_logo_20x20.gif"
            id="net.sourceforge.taggerplugin.search.TagSearchResultPage"
            label="Tag Search Results"
            searchResultClass="net.sourceforge.taggerplugin.search.TagSearchResult"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="net.sourceforge.taggerplugin.TagExportCategory"
            class="net.sourceforge.taggerplugin.wizard.TagExportWizard"
            icon="icons/synced.gif"
            id="net.sourceforge.taggerplugin.wizard.TagSetExport"
            name="Resource Tag Set"/>
      <category
            id="net.sourceforge.taggerplugin.TagExportCategory"
            name="Resource Tagging"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="net.sourceforge.taggerplugin.TagImportCategory"
            name="Resource Tagging"/>
      <wizard
            category="net.sourceforge.taggerplugin.TagImportCategory"
            class="net.sourceforge.taggerplugin.wizard.TagImportWizard"
            icon="icons/synced.gif"
            id="net.sourceforge.taggerplugin.wizard.TagSetImport"
            name="Resource Tag Set"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
      <toc file="tocconcepts.xml"/>
      <toc file="tocreference.xml"/>
      <toc file="toctasks.xml"/>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts file="contexthelp.xml"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.sourceforge.taggerplugin.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.taggerplugin.preferences.TaggerPreferencePage"
            id="net.sourceforge.taggerplugin.preferences.TaggerPreferencePage"
            name="Resource Tagger Preferences"/>
   </extension>

</plugin>
